<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>606279412961-h7vopotiqem2s7sqqmc5d3mq8r2egcsm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.606279412961-h7vopotiqem2s7sqqmc5d3mq8r2egcsm</string>
	<key>API_KEY</key>
	<string>AIzaSyCEHv1bdb40B_nDwnj1AIZDnQnhZCPBAro</string>
	<key>GCM_SENDER_ID</key>
	<string>606279412961</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alexliang.BookeeFinalExame</string>
	<key>PROJECT_ID</key>
	<string>bookeefinalexame</string>
	<key>STORAGE_BUCKET</key>
	<string>bookeefinalexame.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:606279412961:ios:affa1442fcf87577</string>
	<key>DATABASE_URL</key>
	<string>https://bookeefinalexame.firebaseio.com</string>
</dict>
</plist>